/* CSS Document */

.itemp{
	background-color:#FFFFFF;
	border:2px solid #e9f1f5;
	padding:3px 3px 3px 3px;
	float:left;
	width:100%;
	margin-top:11px;
}


.itemp span{
	line-height:30px;
	padding:0px 20px; 
}

.itemp .icon_user{
	float:left;
	width:40px;
	margin:25px;
}
.itemp dl{
	float:left;
	margin-top:30px;
}
.itemp dl dt, .itemp dl dd{
	line-height:30px;
	font-weight:500;
}
.itemp dl dt{
	width:25%;
	float:left;
}

.itemp dl dd{
	width:55%;
	float:left;
}

.itemp .icon_edit{
	margin-top:30px;
}

.itemp .icon_edit a{
	margin-left:20px;
}

#contents .app-box .item{
	border:2px solid #edf3f7;
	padding:1px;
	margin-top:12px;
}

#contents .app-box .item .user-it{
	padding:4px 9px 9px 9px;
	line-height:2.0;
	
}
#contents .app-box .item .user-it img{
	width:18px;
}
#contents .app-box .item .user-it span{
	margin:0px 15px;
}