.marg30{
    margin-bottom: 30px;
}
.marg32{margin-bottom: 32px;}

.marg40{margin-bottom: 40px;}
.marg50{margin-bottom: 50px;}
.marg55{margin-bottom: 55px;}
.marg-left-15{margin-left: 15px;}

/*--------------*/
#contents .box{
    margin: 0 10px 30px;
    padding: 0 15px;
    background: #fff;
    border: 1px solid #e6f0f4;
}

#contents .box .box-header{
    padding: 14px 0;
    border-bottom: 1px solid #d2dce0;
}
#contents .box .box-header .box-title{
    color: #a0b4b8;
    font-size: 12px;
    margin: 0;
    display: inline-block;
}
#contents .box .box-body{
    padding: 24px 0 34px 0;
}
.padding-top-40{ padding-top:40px!important;}
#contents a.btn-next{
    width: 160px;
    height: 35px;
    line-height: 35px;
    background: #14b4c8;
    display: inline-block;
    color: #fff;
    border-radius: 4px;
}