/* ====================mail_address========================= */
#mail_address{
	background: #f5f6fa;
}
#mail_address .mail_address{
	background: #fff;
	padding: 40px 50px 30px;
    border-radius: 2px;
    width: 420px;
    margin: 0 auto 66px;
    font-size: 12px;
    border: 1px solid #e6f0f4;
    -webkit-box-shadow: 0px 0px 8px 0px #ddd;
	-moz-box-shadow: 0px 0px 8px 0px r#ddd;
	box-shadow: 0px 0px 8px 0px r#ddd;
}
#mail_address .mail_address .form-group {
	margin-bottom: 28px;
}
#mail_address .mail_address .form-group label{
	margin-bottom: 11px;
}
#mail_address  .mail_address .btn{
	background: #14b4c8;
	height: 36px;
	width: 100%;
	border: none;
	color: #fff;
	margin-bottom: 30px;
}
#mail_address .mail_address .btn:hover{
	opacity: 0.7;
	color: #fff;
}
#mail_address .mail_address p{
	font-size: 10px;
	margin-bottom: 13px;
}
#mail_address .mail_address p:last-child{
	margin-bottom: 0;
}
#mail_address  .mail_address a{
	color: #14b4c8;
}

/* ===============new password=========== */
#new_password{
	background: #f5f6fa;
}
#new_password .new_password{
	background: #fff;
	padding: 40px 50px 30px;
    border-radius: 2px;
    width: 420px;
    margin: 0 auto 66px;
    font-size: 12px;
    border: 1px solid #e6f0f4;
    -webkit-box-shadow: 0px 0px 8px 0px #ddd;
	-moz-box-shadow: 0px 0px 8px 0px r#ddd;
	box-shadow: 0px 0px 8px 0px r#ddd;
}
#new_password .new_password .form-group {
	margin-bottom: 28px;
}
#new_password .new_password .form-group label{
	margin-bottom: 11px;
}
#new_password  .new_password .btn{
	background: #14b4c8;
	height: 36px;
	width: 100%;
	border: none;
	color: #fff;
	margin-bottom: 30px;
}
#new_password .new_password .btn:hover{
	opacity: 0.7;
	color: #fff;
}
#new_password .new_password p{
	font-size: 10px;
	margin-bottom: 13px;
}
#new_password .new_password p:last-child{
	margin-bottom: 0;
}
#new_password .new_password a{
	color: #14b4c8;
}
