/* CSS Document */

.formlist{
	margin-top:10px;
}

.formlist a{
	padding:0px 20px;
}
.formlist select{
	margin:0px 10px;
	padding:5px 5px;
	width:150px;
}

.text_note a{
	text-decoration:underline;
}

.text_note a:hover{
	text-decoration:none;
}

.itemp{
	background-color:#FFFFFF;
	border:2px solid #e9f1f5;
	padding:3px 30px 3px 3px;
	float:left;
	width:100%;
	margin-bottom:20px;
}

.itemp .tags{
	margin:30px 0px ;
}

.itemp span{
	line-height:30px;
	padding:0px 20px; 
}

.itemp .date{
	color:#b4bec2;
	font-size:11px;
	margin:25px 0;
}

.itemp .icon_edit{
	margin-top:10px;
}

.itemp .icon_edit img{
	margin-left:20px;
}

.itemp .onoffswitch span{
	padding:0px;
	height:18px;
}

.itemp .labelswitch {
	float:left; width:50px;
	line-height:32px;
}

.onoffswitch {
	float:left; 
    position: relative; width: 70px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #14b4c8; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 36px;
    border: 0px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}