/* Company page */
#company-page{
    padding: 60px 0 60px 0;
}
#company-page .company{
    margin: 0 40px;
}
#company-page .company table{
    width: 100%;
}
#company-page .company tr{
    border-bottom: 1px solid #ccc;
}
#company-page .company tr:last-child{
    border-bottom: none;
}
#company-page .company tr th{
    width: 40%;

    font-weight: normal;
}
#company-page .company tr th,#company-page .company tr td{
    font-weight: bold;
    padding: 20px 0px;
    text-align: center;
}
#maps{
    padding: 60px 0 ;
    text-align: center;
}
#maps .maps-content h3{
    margin-bottom: 30px;
}
#maps .maps-content .maps{
    margin-bottom: 30px;
    height: 240px;
}
@media (max-width:768px){
    #company-page .company{
        margin: 0 10px;
    }
    #company-page .company tr th, #company-page .company tr td{
        text-align: left;
    }
}
@media (max-width:993px){
    #company-page .company tr{
        
    }
}
@media (max-width:603px){
    #company-page .company{
        margin: 0 10px;
    }
    #company-page .company tr th, #company-page .company tr td{
        text-align: left;
    }
}