@charset "utf-8";

/*

Last Update 2009-11-20

サイトの基本要素に対するスタイルシートの指定です。
以下の箇所以外、変更は行わないでください。

・bodyの文字色
・リンク色

もしここで指定されている値で、上書きが必要なものに関しては、ここの内容を
変更せずに、各ページごとのスタイルシートで上書きしてください。

*/

/* font-color
--------------------------------------------------------------------*/

@font-face {
    font-family: HiraKakuProN-W6;
    src: url(../fonts/HiraKakuProN-W6.otf);
}

body {
    background: #F0F0F0;
    color: #B6B6B6;
    font-size: 14px;
    line-height: 1.8;
    font-family: "Meiryo","HiraKakuProN-W6","メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Osaka",Verdana,"ＭＳ Ｐゴシック","MS P Gothic",Arial,Helvetica,sans-serif;
}

/* heading
--------------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight:normal;
}

h1 strong,
h1 em,
h2 strong,
h2 em,
h3 strong,
h3 em,
h4 strong,
h4 em,
h5 strong,
h5 em,
h6 strong,
h6 em {
    font-weight: inherit;
}

/* normal block
--------------------------------------------------------------------*/

p {
    text-align: justify;
    text-justify: distribute;
}

/* anchor
--------------------------------------------------------------------*/

a:link {
    color: #28c8c8;
    font-weight: normal;
    text-decoration: none;
}

a:visited {
    color: #28c8c8;
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    color: #22a8a4;
    font-weight: normal;
    text-decoration: none;
}

a:active {
}

/* table
--------------------------------------------------------------------*/

table {
    border-collapse: collapse;
    border-spacing: 0;
}