/* CSS Document */
body{
    padding-top: 0px;
}

/* Header */

h1{ color:#FFFFFF; font-family:'Conv_NuevaStd-Bold',Sans-Serif;}
h3{font-family:'Conv_NuevaStd-Bold',Sans-Serif; font-size:42px; margin-bottom:40px; }
h3 span{ font-size:14px; padding-left:40px; font-family: 'HiraginoSans-W6'; font-weight:bold; vertical-align:middle;}


* {
	border-radius: 0;
}

body {
 color: #505a5e;
 font-size: 14px;
 line-height: 1.8;
 font-family: 'HiraKakuPro-W3';
}

.margin-top-60{ margin-top: 60px;}

.margin-top-40{ margin-top: 40px;}

.margin-top-30{ margin-top: 30px;}

.margin-bottom-60{ margin-bottom: 60px;}
.margin-bottom-50{ margin-bottom: 50px;}
.margin-bottom-40{ margin-bottom: 40px;}

.margin-bottom-30{ margin-bottom: 30px;}

/*@media (min-width: 991px){
	.container{ width:920px;}
}*/
@media (max-width: 991px) {
	body.header-fixed-space,
	body.header-fixed-space-v2 {
		padding-top: 0;
	}
}

p,
li,
li a,
label {
 color: #555;
}

a {
 color: #72c02c;
 text-decoration: none;
}

a,
a:focus,
a:hover,
a:active,
button,
button:hover {
	outline: 0 !important;
}

a:focus {
text-decoration: none;
}
a:hover {
 color: #72c02c;
 text-decoration: underline;
}


/*Boxed Layout
------------------------------------*/
.wrapper {
	background: #fff;
}

.boxed-layout {
  padding: 0;
  box-shadow: 0 0 5px #ccc;
  margin-left: auto !important;
  margin-right: auto !important;
}



.btn-full{ width:100%; background-color:#3cb4c8; font-family: 'HiraginoSans-W6'; border:0px solid #FFFFFF; font-size:18px; border-radius:20px; padding:12px 0px;}
.btn-full:hover,.btn-small:hover{ background-color:#e68ca0;}
.btn-small{ width:100%; background-color:#3cb4c8; font-family: 'HiraginoSans-W6'; border:0px solid #FFFFFF; font-size:14px; border-radius:20px; padding:5px 0px;}

#header{
	box-shadow: 0px 2px 5px #ccc;
	padding:16px 0px;
}
#header .logo_thanks{ font-family: 'Conv_NuevaStd-Bold'; font-size:28px; line-height:28px; color:#505a5e;}
#header .btn-pink{ background-color:#fcf3f5; color:#e68ca0; padding:5px 30px;}



#mainimg{	
	background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(
      rgba(71, 81, 85, 0.3), 
      rgba(71, 81, 85, 0.3)
    ),
    /* bottom, image */
    url(../img/01.jpg);
	
	background-size: cover;
	background-repeat: no-repeat;	
	background-position: center;
	position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
	}
#main-text{
	
}

#mainimg h1{
	font-size:80px;
	margin-top:25%;
}

#mainimg .margin-icon{ margin-left:28px;}

#mainimg p{ color:#FFFFFF; font-size:17px; font-family: 'HiraginoSans-W6';}	
	
#mainimg .icon-down{
	bottom:0;
	position:relative;
	margin-top:15%;
	padding-bottom:48px;
}
/* Campaign  name */
#campaign{
	margin-bottom:128px;
	margin-top:63px;
}
#campaign h3{ margin-bottom:20px;}
#campaign p{
	font-family: 'HiraKakuPro-W3';
}
#campaign .date{
	margin-top:55px;
}
#campaign .day{ 
	display:inline-block;
}
#campaign .date-start, #campaign .date-end{
	margin:0px; auto;
	text-align:center;
}
#campaign .text-day{}
#campaign .date-start span{
	background-image: url(../img/bg-day.jpg);
	background-repeat: no-repeat;
	background-position: center top;	
	font-size:38px;
	color:#FFFFFF;
	width:52px;
	padding:4px 12px;
	display:inline-block;
	margin:0px -1px;
}

.text-day-center{ font-size:32px; text-align:center; padding: 32px 0px;}

#campaign .date-end span{
	background-image: url(../img/bg-dayend.jpg);
	background-repeat: no-repeat;
	background-position: center top;	
	font-size:38px;
	color:#FFFFFF;
	width:52px;
	padding:4px 12px;
	display:inline-block;
	margin:0px -1px;
}

#campaign .day { margin:0px 3px;}

#campaign .day div, #campaign .text-day{
	font-family:'Conv_NuevaStd-Bold',Sans-Serif;
	font-size:16px;
	text-align:center;
}
#campaign .text-day{
	font-size:20px;
}


/* Present */
#present {
	margin-bottom:128px;
}

#present h3{
	margin-bottom:0px;
}

#present img-center{ margin:0px auto;}

#present .col-left{
	float:left;
	line-height:2.3;
	font-size:13px;
}

#present .col-left h4{
	font-size:16px;
	color:#3cb4c8;
	font-weight:normal;
	margin-top:30px;
}

#present .col-right{
	float:right;
}
/* How to join */
#join {
	margin-bottom:128px;
}
#join h3{ margin-bottom:0px;}
#join .border-join{
	text-align:center;
	padding:10px;
	border:1px solid #b4bec2;
	border-radius:4px;
	margin:47px 0px;
	font-size:12px;
}
#join .text-step{
	font-family: 'Conv_NuevaStd-CondItalic';
	font-size:24px;
	font-style:italic;
	font-weight:bold;
}
#join .step{ margin-top:30px;}

#join img{ margin:30px auto 47px auto; }
#join .des{ text-align:center; margin-bottom:30px;
	
}
#join .des a{
	font-weight:bold;
	text-decoration:underline;
	color:#3cb4c8;
}

/* Posting */
#tabs{
	padding:15px;
}

#tabs .nav-tabs > li.active > a{
	border: 0px solid #ddd;
    border-bottom: 2px solid #3cb4c8;
}

#tabs .nav-tabs > li:hover > a{
	border: 0px solid #ddd;
	border-bottom: 2px solid #3cb4c8;
	background-color:transparent;
}

#tabs .tab-pane{
	margin-top:32px;
}
.tab-content .item img{
	border: 3px solid #d0dce2;
}
.tab-content .item h4{
	width:100%;
	background-color:#e68ca0;
	border-radius:20px;
	text-align:center;
	padding:7px;
	margin: 20px 0px 23px 0px;
	font-family: 'HiraginoSans-W6';
}


.tab-content .item h4:hover{background-color:#3cb4c8; }
.tab-content .item h4 a{ color:#FFFFFF; font-weight:normal; font-size:14px;}

.tab-content .row{
	margin-right: -7px;
    margin-left: -7px;
}

.tab-content .row .col-md-3,
.tab-content .row .col-xs-6{
	    padding-right: 7px;
    padding-left: 7px;
}

#tabs .pagination{
	margin-top:44px;
	margin-bottom:74px;
}
#tabs .pagination > li{}
#tabs .pagination > li.active > a, #tabs .pagination > li:hover > a{
	background-color:#3cb4c8;
	color:#FFFFFF;
}
#tabs .pagination > li > a{
	border-radius:20px;
	border:2px solid #3cb4c8;
	margin:0px 8px;
	color:#3cb4c8;
	font-weight:bold;
	
}
/* Agree */

#agree{
	margin-top:180px;
}

#agree .border-agree {
	border:1px solid #CCCCCC;
	background-color:#fafafa;
	border-radius:4px;
	height:300px;
	display: inline-block;
	width:100%;
	padding:10px 0px;
	
}


#main .thanks{ text-align:center; font-size:14px; line-height:30px; margin-top:50px; }
#main .thanks .text16{
	font-size:16px;
}
#main .thanks h2{
	font-family:'Conv_NuevaStd-Bold',Sans-Serif;
	font-size:48px;
}




/* footer */
#footer{
	border-top:2px solid #a0aaae;
	padding:24px 0px;
	
	margin-top:128px;
}

#footer .border-agree{
	
}

#footer .footer-logo{
	padding:7px;
	text-align:center;
}

#footer .social{
	text-align:right;
	padding:0px 8px;
}

#footer .social a{ padding: 0px 8px; }

/*dialog*/

.btnclose { float: left;
    font-size: 21px;
    font-weight: bold;
    color: #000;
	margin:-13px 0 0 -13px;
	z-index:1;
	position:relative;
    }

.modal-dialog {
    width: 424px;
    margin: 60px auto;
}

.modal-body {
    padding: 24px;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: 0 0px 09px rgba(0, 0, 0, .5);
    box-shadow: 0 0px 0px rgba(0, 0, 0, .5);
}

.modal-content .content_des{
	padding:20px 27px;
	
}

.modal-content .content_des .btn-button{ 
	margin-top:24px;
}

.modal-content .content_des .formstep2 label, .modal-content .content_des .formstep2 input{
	float:left; width:100%;
}

.modal-content .content_des .formstep2 label{
	margin:10px 0px;
}

.modal-content .content_des .formstep2 label span{
	padding-left:20px;
	color:#FF0000;
}

.modal-content .content_des .formstep2 input{
	border:1px solid #c8d2d6;
	border-radius:4px;
	padding: 4px 0px;
}

.modal-content .content_des .bg_step3{
	background-color:#e6f0f4;
	border-radius:4px;
	padding:15px;
}

.modal-content .content_des .text-green{
	color:#14b4c8;
	font-size:12px;
}

.modal-content .content_des .text-small{
	font-size:8px;
}

.modal-content .formmodal .textbox{
	padding:4px 6px;
	border:1px solid #d9dee0;
	border-radius:6px;
	width:55%;
	
}
.modal-content .formmodal .btnsubmit{
	background-color:#14B5C9;
	border-radius:6px;
	border: 0px solid #FFFFFF;
	padding:5px 6px;
	font-weight:bold;
	width:45%;
	color:#FFFFFF;
	margin-left:-10px;
}

.modal-content .btn-button{ width:100%; border-radius:4px; background-color:#14b4c8; padding:8px 0px; color:#FFFFFF; }

.modal-content h4{ text-align:center;}


@media screen and (min-width: 768px) and (max-width: 1024px){
	#mainimg .main-text{ width:340px; margin-left:auto; margin-right:auto;}
	.text-day-center
	{
	-webkit-transform: rotateZ(90deg); /* Safari */
    transform: rotateZ(90deg); /* Standard syntax */
	padding: 10px 0px;
	}
	#present .col-right{ width:100%;}
	.tab-content .item img{ width:100%;}
	#footer .social{text-align:center!important;}
	#footer .footer-logo{ text-align:center; padding-bottom:25px;}
}

@media screen and (min-width: 480px) and (max-width: 767px) {
	#mainimg .main-text{ width:340px; margin-left:auto; margin-right:auto;}
	.text-day-center
	{
	-webkit-transform: rotateZ(90deg); /* Safari */
    transform: rotateZ(90deg); /* Standard syntax */
	padding: 10px 0px;
	}
	.tab-content .item img{ width:100%;}
	#present .col-right{ width:100%;}
	#footer .social{text-align:center!important;}
	#footer .footer-logo{ text-align:center; padding-bottom:25px;}
	
	
}
@media screen and (min-width: 320px) and (max-width: 479px){
	h3{ font-size:40px;}
	h3 span{ font-size:12px;  padding-left:20px; display:inline-block!important;}
	#mainimg .main-text{ width:280px; margin-left:auto; margin-right:auto;}
	#mainimg h1{ font-size:60px; }
	.text-day-center
	{
	-webkit-transform: rotateZ(90deg); /* Safari */
    transform: rotateZ(90deg); /* Standard syntax */
	padding: 10px 0px;
	}
	
	#campaign{
	margin-bottom:60px;
	margin-top:40px;
}
	#campaign .day { margin:0px 0px;}
	#campaign .date-start, #campaign .date-end{
		margin:0px -15px;	
	}
	#campaign .date-start span, #campaign .date-end span{
		margin:0px -2px;		
	}
	#present .col-right{ width:100%;}
	#join, #present {
	margin-bottom:60px;
}
	#join .des{ font-size:12px;}
	#tabs { padding: 0px;}
	.nav > li > a{ padding:10px 2px;}
	#agree{
	margin-top:70px;
}
	#footer{ margin-top:60px;}
	#footer .social{text-align:center!important;}
	#footer .footer-logo{ text-align:center; padding-bottom:25px;}
	
	.btnclose { 
		margin:25px 0 0 15px;
    }
	
	.modal-dialog {
    	width: 100%;
    margin: 0px auto;
	height:100%;
	}
}


