/* CSS Document */
#commerce{
    padding: 100px 0;
}
#commerce h3{
    text-align: center;
    font-weight: bold;
    color: #283C50;
    margin-bottom: 60px;
}
#commerce .content{
    background: #FAFAFA;
    width: 880px;
    margin: 0 auto;
    border: 1px solid #C8D2D6;
    padding: 50px 40px 40px;
    border-radius: 4px;
}
#commerce .content dl{
    margin-bottom: 50px;
}
#commerce .content dt{
    margin-bottom: 20px;
    font-weight: bold;
}
#commerce .content dd{
    font-size: 12px;
}

@media (max-width: 1024px) {
    #commerce{
    padding: 35px 0;
}
	#commerce h3{margin-bottom: 30px;}
	#commerce .content{
        width: 100%;
    }
}

