/* CSS Document */



#signin{
    padding: 100px 0;
    background: #2890E0;
}
#signin h2{
    text-align: center;
    font-weight: bold;
    color: #fff;
    margin-bottom: 60px;
}
#signin .content{
    width: 720px;
    margin: 0 auto;
    background: #fff;
    border: 1px solid #CED2D6; 
}
#signin .content h3{
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #CED2D6; 
    margin-bottom: 70px;
}

#signin .form-group{
    width: 500px;
    margin: 0 auto 30px;
}
#signin .form-control{
    height: 50px;
}
#signin .btn{
    width: 240px;
    padding: 10px 0;
    color: #fff;
    margin-bottom: 40px;
}
#signin .help{
    text-align: center;
    margin-bottom: 70px;
    color: #33A5E2;
}
#signin .help a{
    color: #33A5E2;
}
@media (max-width: 768px){
    #signin .form-group{
        width: 100%;
    }
	#signin .content{
    width: 100%;}
    #signin form{
        margin: 0 20px;
    }
}
